<div class="bg-gray-900 text-gray-100 ">

  <div class="home-container flex items-center justify-center flex-col text-center p-8 bg-gradient-to-r from-indigo-900 to-purple-800">
    <h1 class="text-4xl md:text-5xl font-bold mb-6">Welcome to the CV Generator</h1>
    <p class="text-lg md:text-xl mb-8">Create and manage your CV with ease. Start by navigating to the generator.</p>
    <button (click)="navigateToGenerator()" class="px-6 py-3 bg-indigo-500 text-white rounded-lg shadow-lg hover:bg-indigo-600 transition duration-300 ease-in-out">
      Go to Generator
    </button>
  </div>
</div>